/*
  Damián estuvo y siempre estará aquí
   Twitter => @Damian_Friends
   GitHub => @Damian-Friends 
   Discord => https://go.damii.xyz/discord
*/


/* Fuentes de Texto - Text Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Principal - Main */

body {
    background-color: #222836;
    color: #f5f5f5;
}

.titulo {
    color: #f5f5f5;
    font-family: Montserrat;
}

.footer {
    background-color: #2a3142;
    color: #f5f5f5;
    font-family: Cabin;
}

.footertext {
    color: #f5f5f5;
    font-family: Cabin;
}

a {
    color: #f5f5f5;
    font-family: Cabin;
}

a:hover {
    color: #f5f5f5;
    font-family: Cabin;
}

.close {
    color: #f5f5f5;
}

.close:hover {
    color: #f5f5f5;
}


/* Botones - Buttons */

.btn-primary {
    background-color: #626ed4;
    border-radius: 50px;
    font-family: Cabin;
}

.btn-primary:hover {
    background-color: #626ed4;
    border-radius: 50px;
    font-family: Cabin;
}

.btn-success {
    background-color: #02a499;
    border-radius: 50px;
    font-family: Cabin;
}

.btn-success:hover {
    background-color: #02a499;
    border-radius: 50px;
    font-family: Cabin;
}

.btn-danger {
    background-color: #ec4561;
    color: #f5f5f5;
    border-radius: 50px;
    font-family: Cabin;
}

.btn-danger:hover {
    background-color: #ec4561;
    color: #f5f5f5;
    border-radius: 50px;
    font-family: Cabin;
}


/* Modals Compra Exitosa - Modals Successful Purchase */

.modal-content {
    background-color: #2a3142;
}

.modal-title {
    font-family: Montserrat;
    color: #f5f5f5;
}

.modal-body {
    font-family: Cabin;
    color: #f5f5f5;
}


/* Producto Existente - Existing Product */

.toast-header {
    background-color: #2a3142;
    font-family: Montserrat;
    color: #f5f5f5;
}

.toast-body {
    background-color: #2a3142;
    font-family: Cabin;
    color: #f5f5f5;
}


/* Productos - Products */

.item {
    border: 3px solid #ec4561;
    padding: 10px;
    border-radius: 20px;
    border-color: #ec4561;
    background-color: #2a3142;
}

.item-title {
    font-family: Montserrat;
    text-align: center;
    font-weight: 600;
}

.item-image {
    height: 300px;
    width: 100%;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}

.item-details>.item-price {
    margin: 0;
}


/* Carrito de Compras - Shopping Cart */

.shopping-cart-items {
    padding: 20px 0px;
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;
}